<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

  </configSections>
  <connectionStrings>
    <add name="HunBeiQuery.Properties.Settings.HunBeiGuanQuDBV2ConnectionString"
        connectionString="Data Source=.;Initial Catalog=_hbs_1;Persist Security Info=True;User ID=sa;Password=sa"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key ="title" value ="闸门监测系统"/>
  </appSettings>
</configuration>