<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value ="tcp://211.137.16.25:9999/DTLib.DTRequest"/>
    <add key="ConnectionString" value="Data Source=.;initial catalog=hunbeiguanqudbv2;user id=sa;password=sa"/>
    <add key="Title" value="数据传输客户端"/>
    <add key="interval" value="10000"/>
  </appSettings>
</configuration>